// Variáveis de cores baseadas no projeto Nuxt
$primary-color: #c8102e;
$secondary-color: #e63946;
$red-light: #ff8a80;
$grey-light: #f5f5f5;
$red-primary: #b71c1c;
$red-dark: #9a0007;
$white-text: #ffffff;

// Export para uso no JavaScript
:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  greyLight: $grey-light;
  redPrimary: $red-primary;
  redDark: $red-dark;
  whiteText: $white-text;
} 